<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzx.shardingsphere.inline_demo.mapper.TOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wzx.shardingsphere.inline_demo.entity.TOrder">
        <id column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="status" property="status" />
    </resultMap>

    <select id="getById"  resultMap="BaseResultMap">
        select order_id,user_id,status
        from t_order
        <where>
            order_id = #{orderId}
        </where>
    </select>

    <select id="getByUserId"  resultMap="BaseResultMap">
        select order_id,user_id,status
        from t_order
        <where>
            user_id = #{userId}
        </where>
    </select>




</mapper>
